.icon_button{background:url(/ash_webchat/static/src/images/icon_nav_button.png) no-repeat;background-size:28px 28px}
.icon_house{background:url(/ash_webchat/static/src/images/icon_house.png) no-repeat;background-size:28px 28px}
.icon_payment{background:url(/ash_webchat/static/src/images/icon_payment.png) no-repeat;background-size:28px 28px}
.icon_money{background:url(/ash_webchat/static/src/images/icon_chongzhi.png) no-repeat;background-size:28px 28px}
.icon_water{background:url(/ash_webchat/static/src/images/icon_water.png) no-repeat;background-size:28px 28px}
.icon_wash_car{background:url(/ash_webchat/static/src/images/icon_wash_car.png) no-repeat;background-size:28px 28px}
.icon_wash_car{background:url(/ash_webchat/static/src/images/icon_wash_car.png) no-repeat;background-size:28px 28px}
.icon_wash_cloth{background:url(/ash_webchat/static/src/images/icon_wash_cloth.png) no-repeat;background-size:28px 28px}
.icon_cell{background:url(/ash_webchat/static/src/images/icon_nav_cell.png) no-repeat;background-size:28px 28px}
.icon_toast{background:url(/ash_webchat/static/src/images/icon_nav_toast.png) no-repeat;background-size:28px 28px}
.icon_dialog{background:url(/ash_webchat/static/src/images/icon_nav_dialog.png) no-repeat;background-size:28px 28px}
.icon_progress{background:url(/ash_webchat/static/src/images/icon_nav_progress.png) no-repeat;background-size:28px 28px}
.icon_msg{background:url(/ash_webchat/static/src/images/icon_nav_msg.png) no-repeat;background-size:28px 28px}
.icon_article{background:url(/ash_webchat/static/src/images/icon_nav_article.png) no-repeat;background-size:28px 28px}
.icon_actionSheet{background:url(/ash_webchat/static/src/images/icon_nav_actionSheet.png) no-repeat;background-size:28px 28px}
.icon_icons{background:url(/ash_webchat/static/src/images/icon_nav_icons.png) no-repeat;background-size:28px 28px}
.icon_panel{background:url(/ash_webchat/static/src/images/icon_nav_panel.png) no-repeat;background-size:28px 28px}
.icon_tab{background:url(/ash_webchat/static/src/images/icon_nav_tab.png) no-repeat;background-size:28px 28px}
.icon_search_bar{background:url(/ash_webchat/static/src/images/icon_nav_search_bar.png) no-repeat;background-size:28px 28px}

.icon_help{background:url(/ash_webchat/static/src/images/help.png) no-repeat;background-size:28px 28px}
.icon_gift{background:url(/ash_webchat/static/src/images/gift.png) no-repeat;background-size:28px 28px}
.icon_news{background:url(/ash_webchat/static/src/images/news.png) no-repeat;background-size:28px 28px}
.icon_account{background:url(/ash_webchat/static/src/images/account_icon.png) no-repeat;background-size:28px 28px}

.icon_zhengwu{background:url(/ash_webchat/static/src/images/zhengwu_icon.png) no-repeat;background-size:28px 28px}
.icon_write{background:url(/ash_webchat/static/src/images/write_icon.png) no-repeat;background-size:28px 28px}
.icon_list{background:url(/ash_webchat/static/src/images/list_icon.png) no-repeat;background-size:28px 28px}
.icon_bag{background:url(/ash_webchat/static/src/images/bag_icon.png) no-repeat;background-size:28px 28px}
.icon_config{background:url(/ash_webchat/static/src/images/config_icon.png) no-repeat;background-size:28px 28px}
.icon_study{background:url(/ash_webchat/static/src/images/study_icon.png) no-repeat;background-size:28px 28px}
.icon_cart{background:url(/ash_webchat/static/src/images/cart_icon.png) no-repeat;background-size:28px 28px}

.icon_search{background:url(/ash_webchat/static/src/images/icon_nav_search_bar.png) no-repeat;background-size:28px 28px}
.icon_voice_horn{background:url(/ash_webchat/static/src/images/voice_horn_icon.png) no-repeat;background-size:28px 28px}
.icon_repair{background:url(/ash_webchat/static/src/images/repair_icon.png) no-repeat;background-size:28px 28px}
.icon_people{background:url(/ash_webchat/static/src/images/people_icon.png) no-repeat;background-size:28px 28px}
.icon_show{background:url(/ash_webchat/static/src/images/show_icon.png) no-repeat;background-size:28px 28px}


.icon_szyw{background:url(/ash_webchat/static/src/images/szyw_icon.png) no-repeat;background-size:28px 28px}
.icon_zcjd{background:url(/ash_webchat/static/src/images/zcjd_icon.png) no-repeat;background-size:28px 28px}
.icon_sqgg{background:url(/ash_webchat/static/src/images/sqgg_icon.png) no-repeat;background-size:28px 28px}
.icon_wytz{background:url(/ash_webchat/static/src/images/wytz_icon.png) no-repeat;background-size:28px 28px}
.icon_gzbx{background:url(/ash_webchat/static/src/images/gzbx_icon.png) no-repeat;background-size:28px 28px}
.icon_tsjy{background:url(/ash_webchat/static/src/images/tsjy_icon.png) no-repeat;background-size:28px 28px}

.icon_hdtz{background:url(/ash_webchat/static/src/images/hdtz_icon.png) no-repeat;background-size:28px 28px}
.icon_shfy{background:url(/ash_webchat/static/src/images/shfy_icon.png) no-repeat;background-size:28px 28px}
.icon_ssdj{background:url(/ash_webchat/static/src/images/ssdj_icon.png) no-repeat;background-size:28px 28px}
.icon_acgj{background:url(/ash_webchat/static/src/images/acgj_icon.png) no-repeat;background-size:28px 28px}
.icon_smgw{background:url(/ash_webchat/static/src/images/smgw_icon.png) no-repeat;background-size:28px 28px}
.icon_thsc{background:url(/ash_webchat/static/src/images/thsc_icon.png) no-repeat;background-size:28px 28px}
.icon_pjyl{background:url(/ash_webchat/static/src/images/pjyl_icon.png) no-repeat;background-size:28px 28px}
.icon_sybz{background:url(/ash_webchat/static/src/images/sybz_icon.png) no-repeat;background-size:28px 28px}

.icon_yzxx{background:url(/ash_webchat/static/src/images/yzxx_icon.png) no-repeat;background-size:28px 28px}
.icon_wdzh{background:url(/ash_webchat/static/src/images/wdzh_icon.png) no-repeat;background-size:28px 28px}
.icon_kjcz{background:url(/ash_webchat/static/src/images/kjcz_icon.png) no-repeat;background-size:28px 28px}
.icon_wdkj{background:url(/ash_webchat/static/src/images/wdkj_icon.png) no-repeat;background-size:28px 28px}
.icon_wdjf{background:url(/ash_webchat/static/src/images/wdjf_icon.png) no-repeat;background-size:28px 28px}
.icon_gwc{background:url(/ash_webchat/static/src/images/gwc_icon.png) no-repeat;background-size:28px 28px}
.icon_wxdd{background:url(/ash_webchat/static/src/images/wxdd_icon.png) no-repeat;background-size:28px 28px}
.icon_appdd{background:url(/ash_webchat/static/src/images/appdd_icon.png) no-repeat;background-size:28px 28px}
.icon_config{background:url(/ash_webchat/static/src/images/config_icon.png) no-repeat;background-size:28px 28px}

.icon_add{background:url(/ash_webchat/static/src/images/add_icon.png) no-repeat;background-size:28px 28px}
.icon_appadd{background:url(/ash_webchat/static/src/images/appadd_icon.png) no-repeat;background-size:28px 28px}

.icon_qzzp{background:url(/ash_webchat/static/src/images/qzzp_icon.png) no-repeat;background-size:28px 28px}







.weui_uploader_bd li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    color: #333;
}

.weui_uploader_bd i{
    position: absolute;
    right:-1px;
    top: 0px;
    min-width: 15px;
    height: 15px;
    text-align: center;
    color: #ff5757;
    font-size: 10px;
    line-height: 15px;
    border:1px solid #ff5757;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    background-color: #fff;
    font-style: normal;
}

.weui_uploader_file {
    width: 99px;
    height: 110px;
}
.weui_uploader_file img{
    width:110px;
}

.weui_panel_hd {
    font-size:16px;
    font-weight:bold;
}

.weui_bar_item_on {
    background: #c7c7c7;
}

.ash_menu_notice i{
    position: absolute;
    right:-1px;
    top: 0px;
    min-width: 15px;
    height: 15px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    border-radius:15px;
    background-color: #ff5757;
}

